@using IdentityCraft.ViewModels
@model IdentityCraft.ViewModels.ProductViewsModel

@{
    ViewData["Title"] = "Image";
    Layout = "~/Views/Shared/_Layout.cshtml";  // تأكد من الـ Layout الصحيح
}

<h1>Services IT Provides </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@ViewBag.success</p>
        <form asp-action="Image" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
